#set($layout = "layout/layout_m.vm") 

#if($!result && $!result.success)
<table class="table table-striped">
	<tr>
		<td>产品地址</td>
		<td><a href="$!result.productInfo.productUrl" target="_blank">$!result.productInfo.productUrl</a></td>
	</tr>
	<tr>
		<td>产品渠道</td>
		<td>$!result.productInfo.category.message</td>
	</tr>
	<tr>
		<td>产品编号</td>
		<td>$!result.productInfo.productSerialNo</td>
	</tr>
	<tr>
		<td>产品图片</td>
		<td>
			#foreach($!pic in $!$!result.productInfo.productPicInfos)
				<img data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px; " src="$!pic.picSourceUrl">
			#end
		</td>
	</tr>
	<tr>
		<td>当前价格</td>
		<td>￥$!result.productInfo.productCurrentPrice</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<a class="btn btn-success" href="/attentionProduct.html?productId=$!result.productInfo.id">我要关注</a>
			<a class="btn btn-inverse" href="/">换个产品</a>
		</td>
	</tr>
</table>
#end